li.tweet
  //- %pre
  //-  != JSON.stringify(tweet)
  //- .icons
  //-   %img{ src: "http://s.ytimg.com/yt/favicon-vfl147246.ico" }
  p.text
    != tweet.text
  .meta
    | Posted
    a( href: tweet.tweet_url, title: 'Posted on ' + tweet.created_at.format('d.m.Y H:i:s O') )
      = tweet.created_at.ago().slice(0, 2).join(', ')
      |  ago
