%li.tweet
  -#%pre
  -#  != JSON.stringify(tweet)
  / .icons
  /   %img{ src: "http://s.ytimg.com/yt/favicon-vfl147246.ico" }
  %p.text
    != tweet.text
  .meta
    Posted on
    %a{ href: tweet.tweet_url }
      = tweet.created_at
