%li.tweet
  .icons
    %img{ src: "http://s.ytimg.com/yt/favicon-vfl147246.ico" }
  %p.text
    Working on my bachelor's thesis http://www.youtube.com/watch?v=Mwbw9KF-ACY
  .meta
    10 days 8 hours ago