%h1 Lets fetch your Tweets

%img{src: "", id: 'avatar'}
%p
  %span{id: 'full_name'} 
  %span{id: 'screen_name'}
  %span{id: 'total-tweets-number'}
  
%h2
  We have already fetched
  %span{id: 'fetched-tweets'}
  of your
  %span{id: 'total-available-tweets'}
  tweets.

#tweets

%input{type: 'hidden', id: 'username', value: username}  