#topbar.limitwidth
  %img{ src:"", width:48, height:48 }
  %span#username= "@" + username
-#
#mainbar
  .limitwidth
    %h1
      %a{ href: "/" } Browse My Tweets
    %form#search{action: "#", method: "post", id: "form"}
      %input.textfield{ type: "text", name: "q", id: "searchfield" }
      %input.submitbutton{ type: "submit", value: "Search", id: "submit" }
-#
#content.limitwidth
  Loading...
