#mainbar.center-vertically
  .limitwidth
    %h1
      %a{ href: "/" } Browse My Tweets
    %form#search{action: "#", method: "post", id: "form"}
      %input.textfield{ type: "text", name: "q", id: "username" }
      %input.submitbutton{ type: "submit", value: "Browse", id: "submit" }