#topbar.limitwidth
  %img#avatar{ src:"", width:48, height:48 }
  %span#screen_name= "@" + username
-#
#mainbar
  .limitwidth
    %h1
      %a{ href: "/" } Browse My Tweets
    #status
      Fetched
      %span#fetched-tweets 0
      of
      %span#total-available-tweets 0
      tweets.
-#
%input{type: 'hidden', id: 'username', value: username}

#content.limitwidth
  %p We are fetching your tweets at the moment. Please wait.
  %p
    If you don't want to wait anymore or no more Tweets are fetched click
    %a{'href': '/' + username } here